<div class="row">
    <div class="col-sm">
        <h2>*ngIf</h2>
        <div   class="alert alert-primary" role="alert" *ngIf="mostrarMensaje">
                Variable mostrarMensaje con valor a true
        </div>      
        <div  class="alert alert-primary" role="alert" *ngIf="!mostrarMensaje">
            Variable MostrarMensaje con valor a false
    </div>     
    <button (click)="mostrarMensaje = !mostrarMensaje" type="button"  class="btn btn-dark">Cambiar mensaje</button>  
    </div>
    <div class="col-sm">
        <h2>*ngFor</h2>
        <div>
            <ul  *ngFor="let materia of materias; first as isFirst" class="list-group">
                <li [ngClass]=" isFirst ? 'list-group-item active' : 'list-group-item' " > {{ materia }}</li>

            </ul>
        </div>
    </div>
    <div class="col-sm">
     <h2>*ngSwitch</h2>
        <container-element [ngSwitch]="contador % 2">
     <div class="card">
        <div class="card-body" *ngSwitchCase="0" >
            Numero par {{ contador }}
        </div>
     </div>
     <div class="card">
        <div class="card-body" *ngSwitchCase="1" > 
            Numero impar {{ contador }}
        </div>
     </div>
     </container-element>
     <button (click)="contador = contador + 1" type="button">
        Incrementar
     </button>
    
    </div>

</div>
 <br>

  <div class="card-group">
    <div class="card">
      <img src="./assets/img/i2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="./assets/img/i1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="./assets/img/i2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
